<div class="flex flex-col items-center p-3">
  <h1 class="text-2xl text-gray-900 text-center mt-16 mb-4"> Congratulations you are now a pro member of Tailwind Genius </h1>
  <%= link_to "Create a new component", "/", class: "text-xl text-gray-100 bg-gradient-to-r from-indigo-500 to-blue-500 rounded-lg shadow-lg p-2" %>
  
  <div class="mt-8">
    <iframe src="https://giphy.com/embed/VIFJG0y6GirrjXYO4S" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sega-sega-genesis-mini-VIFJG0y6GirrjXYO4S">via GIPHY</a></p>
  </div>
</div>