<%= turbo_stream_from current_user %>

<% if current_user.active_subscription %>
  <%= render "success" %>
<% else %>
  <div id="<%= dom_id(current_user, :success) %>">
    <h1 class="text-2xl text-gray-900 text-center mt-16"> Waiting for confirmation of your payment. </h1>
    <p class="text-lg text-gray-700 text-center mt-2"> Please wait a few seconds before refreshing </p>
  </div>
<% end %>