<div class="max-w-2xl w-full mx-auto flex flex-col items-center">
  <h1 class="text-3xl max-w-lg text-indigo-300 text-center"> Congrats you have purchased Tailwind Genius </h1>
  <p class="text-lg max-w-lg text-indigo-900 text-center my-3"> Thank you for supporting us by purchasing. I will be building more features that you will have access to always and forever. </p>
  <%= link_to "Create New Component", "/", class: "bg-indigo-500 p-2 rounded-lg text-indigo-100" %>
</div>